<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <link rel="icon" type="image/png" href="assets/favicon.png">

    <link rel="shortcut icon" href="assets/favicon.ico"> 

    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">

    <link rel="manifest" href="assets/site.webmanifest">

    <link rel="icon" type="image/png" sizes="192x192" href="assets/web-app-manifest-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/web-app-manifest-512x512.png">


    <title>Start</title>
</head>
<body>

    <div id="wrapper">

            <h1 v-if="!done"> <strong class="start">START</strong> <br> Carteirinha do Estudante </h1>

            
        <div id="central" >
                
            <div id="formulario" v-if="!done">
                
                <p>Informe o seu <strong> nome </strong> e <strong> matricula </strong></p>

                <label for="nome">Nome*: </label>
                <input v-model="nome" type="text" id="nome" placeholder="Digite seu nome">
            
                <label for="matricula">Matricula*: </label>
                <input v-model="matricula" type="text" id="matricula" placeholder="Digite sua matricula">

                
                    <label for="foto">Adicione uma foto*: </label>
                    <input type="file" @change="onFileChange">
                    <img v-if="foto" :src="foto" alt="Prévia" style="width: 80px; height: 80px;">

                <button class="btn-submit" @click="done = true" :disabled="!liberado()">Enviar</button>
            
            </div>
        
        
            <div id="previa" v-if="done">

                <h1 class="start">START</h1>
            
            <div id="cartao">

                <div id="foto-perfil" :style="{backgroundImage:`url(${foto})`}"></div>

                <div id="dados-cartao">

                    <div class="info">
                    <span class="dados" v-text="nome"></span>
                    </div>

                    <div class="info">
                    <span class="dados" v-text="matricula"></span>
                    </div>

                </div>
                
                
            </div>
            
        </div>

        </div>

        
        
            
    </div>

    <script src="https://unpkg.com/vue@3.0.0-rc.5/dist/vue.global.js"></script>

    <script>

        Vue.createApp({

            methods: {
                onFileChange(event) {
                    const file = event.target.files[0];
                    if (!file) return;
                    this.foto = URL.createObjectURL(file);
                },

                liberado(){
                    let liberado = false;

                    if(!(this.nome === "" || this.matricula === "" || this.foto === null)){
                         liberado = true;
                    }

                    return liberado;
                }

            },

            data(){
                
                return {
                    
                  nome:"",
                  matricula:"",
                  done: false,
                  foto: null,
                  

                }
            }

        }).mount('#wrapper')

    </script>
</body>
</html>