<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Start</title>
</head>
<body>

    <div id="wrapper">

            <h1 v-if="!done">START - Carteirinha do Estudante </h1>

            
        <div id="central" >
                
            <div id="formulario" v-if="!done">
                
                <p>Informe o seu <strong> nome </strong> e <strong> matricula </strong></p>

                <label for="nome">Nome*: </label>
                <input v-model="nome" type="text" id="nome" placeholder="Digite seu nome">
            
                <label for="matricula">Matricula*: </label>
                <input v-model="matricula" type="text" id="matricula" placeholder="Digite sua matricula">

                
                    <label for="foto">Adicione uma foto*: </label>
                    <input type="file" @change="onFileChange">
                    <img v-if="foto" :src="foto" alt="Prévia" style="width: 120px; height: 120px;">

                <button class="btn-submit" @click="done = true">Enviar</button>
            
            </div>
        
        
            <div id="previa" v-if="done">

                <h1>START</h1>
            
            <div id="cartao">

                <div id="foto-perfil" :style="{backgroundImage:`url(${foto})`}"></div>

                <div id="dados-cartao">

                    <div class="info">
                    <span class="dados" v-text="nome"></span>
                    </div>

                    <div class="info">
                    <span class="dados" v-text="matricula"></span>
                    </div>

                </div>
                
                
            </div>
            
        </div>

        </div>

        
        
            
    </div>

    <!--importamos o vue, da cdn unpkg.com-->  
    <script src="https://unpkg.com/vue@3.0.0-rc.5/dist/vue.global.js"></script>

    <!-- Abrimos um bloco de script local para trabalharmos com o Vue.js -->
    <script>

        //Criamos uma vue instance (um app)
        Vue.createApp({

            methods: {
                onFileChange(event) {
                    const file = event.target.files[0];
                    if (!file) return;
                    this.foto = URL.createObjectURL(file);
                }

            },

            //dizemos quais dados esse app gerencia
            //data é uma função, 
            data(){
                //retorna Objeto (JSON)
                return {
                    //nome e matricula inicialmente são Strings (textos) em brancos ""
                  nome:"",
                  matricula:"",
                  done: false,
                  foto: null

                }
            }

            //dizemos onde em nosso html o vue irá viver, neste caso no bloco HTML com id central
        }).mount('#wrapper')

    </script>
</body>
</html>