*{
    padding: 0;
    margin: 0;

}

body{
    background: linear-gradient(135deg, #2b2b52, #4b79a1, #283e51);
    background-size: 300% 300%;
    animation: bgmove 12s ease infinite;
}

@keyframes bgmove{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    h1{
        font-size: clamp(20px, 2vw, 28px);
        text-align: center;
        color: #fff;
        font-weight: 600;

    }

}

.start{
    font-size: clamp(30px, 3vw, 38px);
    color: #FAD777;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

#central{
    margin-top: 4rem;
    display: flex;
    width: 90%;
    align-items: center;
    border: 1px solid rgba(255,255,255, 0.2);
    color: white;
    height: auto;
    padding: 2rem 1rem;
    border-radius: 15px;
    overflow: auto;
    box-sizing: border-box;

    background: rgba(255,255,255, 0.10);
    box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

#formulario{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 0.6rem;
    width: 100%;

    p{
        text-align: center;
        font-size: clamp(22px, 2vw, 34px);
    }

    label{
        margin-top: 1rem;
        font-size: clamp(20px, 2vw, 36px);
        font-weight: 600;
    }

    input{
        margin-top: 0.4rem;
        padding: 0.4rem;
        font-size: clamp(15px, 2vh, 18px);
        font-family: Verdana, sans-serif;
        border: 1px solid rgb(131, 129, 129);
        border-radius: 10px;
    }

    img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .btn-submit{
        border: none;
        width: 35vw;
        border-radius: 20px;
        height: 6vh;
        margin: 0 auto;
        margin-top: 1.5rem;
        font-family: Verdana, sans-serif;
        font-size: clamp(18px, 2vw, 25px);
        font-weight: 500;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.30);
        transition: 3s;
    }

    .btn-submit:hover{
        cursor: pointer;
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.50);
        transform: translateY(-4px);

    }
}

#previa{
    margin: 0 auto;
    

    #cartao{

        #foto-perfil{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40vw;
            height: 28vh;
            border-radius: 10px;
            margin: 40px auto;
            box-shadow:
            0 4px 10px rgba(0, 0, 0, 0.25),
            0 0 10px rgba(120, 170, 220, 0.25);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        #dados-cartao{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .info{
                display: flex;
                text-align: center;
                font-size: clamp(20px, 2vw, 28px);
            }
        }

        .label-cartao{
            color: black;
            font-size: clamp(20px, 2vw, 28px);
        }

        .dados{
            display: flex;
            justify-content: center;
            align-items: center;

        }
        
    }
    
}